.nav-item a{
    color: white;
    text-decoration: none;
    padding-left: 15px;
}
.nav-item span{
    color:rgb(255, 218, 218);
    font-weight: bold;
}
.nav-item a:hover{
    color: rgb(255, 218, 218);
}
.site-name{
    padding-left: 50px;
    color:rgb(255, 218, 218);
}
.login-img{
    width: 20px;
}
.nav-item img{
    width: 40px;
    margin: 0 10px;
    border-radius: 20px;
}